{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <h1>Party creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    <a href="{{ path('party_index') }}" class="btn btn-primary">Back to the list</a>
        <input type="submit" value="Create" class="btn btn-primary" />
    {{ form_end(form) }}
{% endblock %}
